@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 236, 212);
}

.title {
  text-align: center;
}

.text {
  margin: 10px 0px 30px 30px;
}

.vertical-chart,
.horizontal-chart {
  display: flex;
}
.vertical-text,
.horizontal-text {
  margin-left: 30px;
  flex-direction: column;
}
