@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(164, 204, 226);
}

.title {
  text-align: center;
}

.text {
  margin: 10px 0px 30px 30px;
}

.vertical-chart,
.horizontal-chart {
  border: rgb(2, 2, 2) 1.5px solid;
  display: flex;
}
.vertical-chart {
  padding-top: 5px;
}

.horizontal-chart {
  margin-top: 20px;
}

.vertical-text,
.horizontal-text {
  margin-left: 30px;
  flex-direction: column;
}
