@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.singleline-dropdown,
. {
  font-weight: 700;
}
.drop {
  margin-bottom: 20px;
}
svg {
  border: palevioletred 2px solid;
}
