@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.etc,
.dropdown-container {
  margin-bottom: 10px;
}

svg {
  border: palevioletred 2px solid;
}
